<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>length of name</title>
</head>

<body>
    <% if (locals.nameLength) { %>
        <h2>there are <%= nameLength%> letter in your name</h2>
        <% } %>
</body>

</html>