<!DOCTYPE html>
<html>

<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>What's your secret?</h1>
  <div class="card">
    <p>
      <%= secret %>
    </p>
  </div>
  <p class="user">
    <%= user %>
  </p>
</body>

</html>